body {
  background: #8360c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul.todo-list > li {
  margin: 0.75rem 0;
}

li.done {
  text-decoration: line-through;
}

h1 {
  text-align: center;
}
